@use "@/styling/mixins.scss" as m;
@use "@/styling/colors.scss" as c;

main.main_section {
  @include m.main-area;
  > section {
    > h4 {
      padding: 0.4rem;
    }

    > .genre_head_sk {
      height: 1.4rem;
      width: 50%;
      padding: 0.4rem;
      margin-block: 0.4rem;
      background-color: c.$bg;
    }

    &:has(> .genre_head_sk) {
      > ul {
        margin-inline: 1.6rem;
      }
    }
  }
}
