@use "@/styling/colors.scss" as c;
@use "sass:color";

:root {
  --background: c.$white;
  --foreground: c.$black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: c.$black;
    --foreground: c.$white;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
