@use "@/styling/mixins.scss" as m;

main.main_section {
  @include m.main-area;
  > section {
    > h4 {
      padding: 0.4rem;
    }
    > div {
      display: flex;
      flex-flow: row-nowrap;
      width: 100%;
      overflow-x: auto;

      > a {
        width: min-content;
        min-width: 148px;
        padding: 0.2rem;
      }
    }
  }
}
