@use "sass:color";
@use "@/styling/colors.scss" as c;

$navbar_height: 64px;

.navbar {
  font-family: var(--font-rubik);
  max-height: $navbar_height;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color.adjust(c.$black, $lightness: 2%);

  > * {
    padding: 0.8rem;
  }

  > .brand {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.8rem;
    user-select: none;
    width: min-content;

    > h3 {
      cursor: pointer;

      &:nth-of-type(2) {
        color: c.$blue;
      }
      &:nth-of-type(3) {
        color: c.$red;
      }
    }
  }

  > form {
    padding: 0;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: inline-flex;

    > .search_input {
      min-width: 240px;
      margin-inline: auto;
      border: none;
      border-radius: 4px;
      background-color: c.$search_input_bg;
      font-family: inherit;
      padding: 0.8rem 0.6rem;

      &::placeholder {
        opacity: 0.4;
      }

      &:focus {
        border-color: c.$blue;
      }
    }
  }
  > .account_menu {
    color: c.$fg;
    font-family: inherit;
    background: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: min-content;
    gap: 1rem;

    > img {
      user-select: none;
    }

    > svg {
      overflow: visible;
      color: c.$white;
      width: 24px;
    }
  }

  > .account_menu_dropdown {
    position: absolute;
    right: 0;
    top: $navbar_height;
    background-color: c.$dropdown_bg;
    color: c.$white;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.4rem;
    margin: 0.8rem;
    z-index: 5;

    &.shown {
      opacity: 1;
      translate: 0 0;
    }

    &:not(.shown) {
      opacity: 0;
      translate: 0 -24px;
    }

    > li {
      &:not(:has(> a)) {
        cursor: pointer;
      }
      &:hover {
        text-decoration: underline;
      }

      &.logout_button {
        color: c.$red;
      }
    }
  }
}
