@use "@/styling/colors.scss" as c;
@use "@/styling/responsive.scss" as r;

.carousel {
  display: flex;
  flex-flow: row nowrap;
  margin-block: 1rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;

  padding: 0.4rem 1rem;

  @supports selector(::-webkit-scrollbar) and
    selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar {
      background: c.$black;
    }
    &::-webkit-scrollbar-thumb {
      background: c.$white;
    }
  }
  &.grid {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: 1fr 1fr;
  }
}
