@use "@/styling/colors.scss" as c;

dialog.dialog_wrapper {
  min-width: 360px;
  margin: auto;
  min-height: 2rem;
  position: fixed;
  border: none;
  border-radius: 0.4rem;
  opacity: 0;
  translate: 0 -24px;
  animation: dialog-fade-in 0.2s ease forwards;
  background-color: c.$black;
  padding: 1rem;
  > form {
    text-align: left;
    margin: 0.8rem;
    display: flex;
    flex-flow: column;

    * {
      margin-block: 0.4rem;
    }

    select {
      margin: 0.4rem;
    }
  }

  &::backdrop {
    background-color: rgb(0, 0, 0, 0.35);
  }
}
@keyframes dialog-fade-in {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
