@use "sass:color";
@use "@/styling/colors.scss" as c;
@use "@/styling/mixins.scss" as m;

main.reviews_area {
  @include m.main-area;
  margin: 0;
  padding: 24px;

  > .reviews_area {
    margin-block: 48px;
  }
}
