@use "sass:color";
@use "@/styling/colors.scss" as c;

.game_search_result {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  margin: 4px;
  cursor: pointer;

  > img {
    width: 90px;
    height: 120px;
    // width: auto; height: auto;
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem;

    > h6,
    > p {
      font-size: 0.75em;
    }

    > .game_platforms,
    > .game_release_date,
    > .game_tracker_status {
      padding: 0;

      &:not(:first-of-type) {
        margin-top: auto;
      }
    }

    > .game_tracker_status {
      padding: 0.2rem;
      font-weight: 500;
      width: min-content;
      box-sizing: border-box;
      border-radius: 2px;

      &.backlog {
        background-color: color.scale(c.$red, $alpha: -25%);
      }
      &.in_progress {
        background-color: color.scale(c.$blue, $alpha: -25%);
      }
      &.complete {
        background-color: color.scale(c.$green, $alpha: -25%);
      }
    }

    > .game_platforms {
      margin-top: auto;
    }
  }
  &.vertical {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.game_card_sk {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  > .image_sk {
    background-color: c.$bg;
    width: 90px;
    height: 120px;
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem 0;

    &:is(.horizontal) {
      flex-flow: row nowrap;
    }

    > * {
      margin-block: 0.1rem;
    }

    > .h_sk {
      background-color: c.$bg;
      height: 0.8rem;
      width: 80%;
      padding: 0.4rem 0;
    }
    > .text_sk {
      height: 0.6rem;
      background-color: c.$bg;
      width: 70%;
      padding: 0.4rem 0;
    }
  }

  &.vertical {
    flex-flow: column nowrap;
    align-items: center;
  }
}
