@use "sass:color";
@use "@/styling/colors.scss" as c;

.game_card {
  display: flex;
  // height: 160px;
  width: 240px;
  // min-width: 178px;
  // max-width: calc(50% - 24px);
  flex-flow: row wrap;
  margin: 6px;
  cursor: pointer;
  outline: 1px solid c.$bg5;
  border: none;
  border-radius: 6px;
  transition: scale 0.25s ease;
  overflow-wrap: break-word;
  font-size: 17px;
  box-sizing: border-box;
  // box-sizing: content-box;

  z-index: 5;
  // &:hover {
  //   scale: 1.05 1.05;
  //
  //   // span.game_card_img_overlay {
  //   //   scale: 1.15 1.15;
  //   // }
  // }

  > div.img_container {
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    // height: 90px;
    // width: inherit;
    // max-width: 180px;
    z-index: 0;
    max-height: 135px;
    > img {
      z-index: -1;

      &:is(.vertical > img) {
        border-bottom: 1px solid c.$bg5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:before {
        content: "?";
        color: c.$fg;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    &:after {
      position: absolute;
      content: "";
      background-color: c.$black;
      width: 100%;
      height: 24px;
      bottom: 0;
      left: 0;
      margin-inline: auto;
      background: linear-gradient(to top, c.$bg5, transparent 100%);
      will-change: transition;
    }
    &.horizontal {
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &.vertical {
      overflow: hidden;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  > div.game_info {
    // display: contents;
    width: auto;
    font-size: 0.9em;
    flex-grow: 1;
    align-content: flex-start;
    padding: 8px;

    > main {
      // flex: 1 0 100%;
      > p {
        place-self: flex-start;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      > .game_platforms,
      > .game_release_date,
      > .game_tracker_status {
        padding: 0;

        &:not(:first-of-type) {
          margin-top: auto;
        }
      }
    }
    > .game_tracker_status {
      padding: 0.2rem;
      font-weight: 500;
      width: min-content;
      box-sizing: border-box;
      border-radius: 2px;

      &.backlog {
        background-color: color.scale(c.$red, $alpha: -25%);
      }
      &.in_progress {
        background-color: color.scale(c.$blue, $alpha: -25%);
      }
      &.complete {
        background-color: color.scale(c.$green, $alpha: -25%);
      }
    }

    > .game_platforms {
      margin-top: auto;
    }

    > footer {
      display: flex;
      font-size: 0.7em;
      flex-flow: row nowrap;
      height: auto;
      width: 100%;

      color: c.$fg;

      justify-content: space-between;

      margin-top: auto;
      padding-top: 6px;

      > .release_date {
        opacity: 0.6;
      }
      > .game_platforms {
        display: flex;
        flex-flow: row;
        align-self: flex-end;
        gap: 6px;
        svg {
          color: c.$fg;
          height: 14px;
        }
      }
    }
  }
}

.game_card_sk {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  > .image_sk {
    background-color: c.$bg;
    padding: 0;

    &:is(.vertical > .image_sk) {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      min-width: 124px;
      height: 186px;
    }
    &:is(.horizontal > .image_sk) {
      height: 135px;
      width: 90px;

      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem;
    align-items: flex-start;
    flex-grow: 1;

    > * {
      margin-block: 0.1rem;
    }

    > .h_sk {
      background-color: c.$bg;
      height: 0.8rem;
      width: 80%;
    }
    .text_sk {
      width: 70%;
      height: 0.6rem;
      background-color: c.$bg;
    }
  }

  &.vertical {
    flex-flow: column nowrap;
    align-items: center;
  }
}
