@use "@/styling/colors.scss" as c;
.collection {
  margin: 0 1em 1em;
  padding: 1em;
  background-color: c.$bg4;

  > header {
    display: inline-flex;
    align-items: center;
    > .edit_collection {
      background: none;
      padding: 0;
    }
  }
  > p {
    font-size: 0.8em;
  }
}
